<ns-action-bar [title]="isCreating ? 'Replace Challenge' : 'Edit Challenge'" [hasMenu]="false"></ns-action-bar>
<FlexboxLayout class="form">
  <!-- <TextField class="input-field" [(ngModel)]="challengeDescription" hint="Challenge Title"></TextField>
  <Button class="btn" text="Add Challenge" (tap)="onSetChallenge()"></Button> -->
  <StackLayout class="input-field">
    <Label class="label" text="Title" [ngClass]="{invalid: !titleControl.valid && titleControl.touched}"></Label>
    <TextField class="input" returnKeyType="next" required [(ngModel)]="title" #titleControl="ngModel"></TextField>
    <Label *ngIf="!titleControl.valid && titleControl.touched" text="Please enter a valid title"></Label>
  </StackLayout>
  <StackLayout class="input-field">
    <Label class="label" text="Description"
      [ngClass]="{invalid: !descriptionControl.valid && descriptionControl.touched}"></Label>
    <TextView class="input" returnKeyType="done" required [(ngModel)]="description" #descriptionControl="ngModel">
    </TextView>
    <Label *ngIf="!descriptionControl.valid && descriptionControl.touched"
      text="Please enter a valid description"></Label>
  </StackLayout>
  <Button class="btn btn-primary" text="Save" [isEnabled]="titleControl.valid && descriptionControl.valid"
    (tap)="onSubmit(titleControl.value, descriptionControl.value)"></Button>
</FlexboxLayout>